body {
  height: 100vh;
  cursor: crosshair;
  margin: 0 auto;
  background: rgb(255, 236, 253);
  user-select: none;
  position: relative;
}
.content-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}
@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}
.counter {
  display: flex;
  justify-content: center;
  height: 90%;
}
h3 {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  text-align: center;
  margin: 50px 0 0 0;
  color: rgba(128, 128, 128, 0.555);
  z-index: -1;
}
.btn-container {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  z-index: 2;
  background: rgba(255, 236, 253, 0.747);
  border: solid 1px rgba(128, 128, 128, 0.555);
  border-radius: 5px;
}
.buttons:hover {
  border: solid 1px rgba(0, 0, 0, 0.5);
  cursor: default;
}
.buttons:hover i {
  color: rgba(0, 0, 0, 0.5);
}
button {
  background: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  height: 40px;
  width: 40px;
}
i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: rgba(128, 128, 128, 0.555);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
i:hover {
  transform: scale(1.25);
  color: rgba(122, 59, 112, 1) !important;
}
